html body{
    box-sizing: border-box;
    background-color: #ffffff;
}
/*-----------------SECTION THAT KEEPS EVERYTHING ALIGNED-----------------*/

.main {
	margin-left: 200px;
	padding: 50px;
	font-family: 'Poppins', sans-serif;
}

.main h1, h3{
text-align: center;
text-decoration: underline;
color: #4C4349;
font-size: 28px;
}
/*---------------------SECTION THAT HAS MY CONTENT-----------------------*/

.content {
	float: left;
	padding: 1vw;
  width: 100%;
  font-size: 15px;
}

.content p {
  color: #80727B;
}

.content h2, h4{
	text-align: center;
  color: #61565D;
  font-size: 20px;
}

iframe{
  width: 75vw;
  height: 50vh;
  padding-left: 2.5vw;
}


/*-----------------------SIDE NAVIGATIONAL BAR---------------------------*/

.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #BBACC1;
  width: 200px;
  overflow-x: hidden;
  padding-top: 1vw;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #F1DEDE;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidenav a {
    float: left;

  }
}

/*---------------------------GALLERY IMAGES------------------------------*/

/*---Grid Layout---*/
.blog-images {
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	position: relative;
	margin: 0 0 2em -2em;
}

.blog-images a {
	margin: 0 0 2em 0;
	text-align: center;
	overflow: hidden;
	color: #000000;
	text-decoration: none;
}

.blog-images a img {
	display: block;
	width: 100%;
}

/*---COLOUR/SHADOW WHEN YOU HOVER OVER IT---*/
.blog-images a:hover {
	box-shadow: 0 0 0.5em 0 #CFC5D3;
} 

/*---SPACES OUT THE IMAGES---*/
.blog-images > div {
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: calc(100% / 3);
	padding-left: 5vw;
}

@media only screen and (max-width: 800px) {
    .content, .blog-images {
        max-width: 1200px;
        padding: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }
}